@model RAI_02.Dto.AddFriendDto?

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Add new friend</h1>

@using (Html.BeginForm("Add", "Friends", FormMethod.Post))
{
    <div>
        <label for="Login">Login:</label>
        <input type="text" id="Login" name="Login" value="@Model?.Login" />
    </div>
    
    <div>
        <input type="submit" value="Add" />
    </div>
}