@model IEnumerable<User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Users</h1>
<ol>
    @foreach(var user in Model){
        <li>
            <a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@user.Login">
                @Html.DisplayFor(userItem => user.Login)
            </a>
        </li>
    }
</ol>

@Html.ActionLink("Initialize database", "Init");
@Html.ActionLink("Add new user", "Add");
