@model RAI_02.Dto.CreateUserDto?

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
    var userNotFound = ViewData["userNotFound"] as bool? ?? false;
}

<h1>Login</h1>
@if (userNotFound)
{
    <h3 style="color: red">User not found!</h3>
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div>
        <label for="Login">Login:</label>
        <input type="text" id="Login" name="Login" value="@Model?.Login" />
    </div>
    
    <div>
        <input type="submit" value="Login" />
    </div>
}